html, body {
    background: #000000;
    height: 100%;
    font-size: 13px;
    line-height: 1.2em;
    color:#212121;
}

.navbar {
    padding-top: 20px;
    height: 40px;
}

.main-container {
    width: 100%;
    float: left;
    height: 100%;
    overflow: hidden;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.nav-top-right a {
    color: #fff;
}

li {
    list-style: none;
}

.content-wrapper {
    height: calc(100% - 48px);
    float: left;
    width: 100%;
    overflow: hidden;
    background: #fff;
}

header a {
    padding: 10px 0;
    display: inline-block;
    font-size: 13px;
}

.container-wrap {
    background: #1F2028;
    height: 100%;
    overflow: hidden;
}

.logo {
    background: url("../img/daq-logo.png") 0 no-repeat;
    background-size: contain;
    width: 100%;
    display: block;
    height: 30px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../../images/daq-logo.png', sizingMethod='scale');
}

.cursor-pointer {
    cursor: pointer;
    font-size: 13px;
}

.help {
    margin-right: 20px;
    text-align: left;
    display: inline-block;
}

aside {
    height: 100%;
    display: inline;
}

.left-panel-open .left-panel {
    margin-left: 0;
}

.left-panel-open .right-content {
    width: 80%;
}

.left-panel {
    border-right: 1px solid #b6b7ba;
    background: #f4f4f5;
    height: 100%;
    margin-left: -20%;
    position: relative;
    width: 20%;
    -webkit-transition: .5s margin;
    -o-transition: .5s margin;
    transition: .5s margin;
    z-index: 9;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.toggle-left-panel {
    border: 1px solid #d5d6d8;
    border-left: 0;
    background: #f4f4f5;
    padding: 13px 4px 14px 3px;
    position: absolute;
    right: -16px;
    top: 10px;
    color: #b6b7ba;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    z-index: 100;
    transition: 0.5s;
}

.icon:before {
    content: attr(data-icon);
}

.right-content {
    background: #ffffff;
    height: 100%;
    padding: 20px;
    width: 100%;
    float: left;
    overflow-x:hidden;
    overflow-y:auto;
}

.filter-section {
    float: left;
    width: 100%;
}

.selectpicker {
    padding: 5px 10px;
}

.right-panel {
    position: relative;
    background: #fff;
    height: 100%;
    overflow: hidden;
    width: 20%;
    margin-right: -20%;
    padding-bottom: 43px;
    border-left: 1px solid #d5d6d8;
    -webkit-transition: 0.5s margin;
    -o-transition: 0.5s margin;
    transition: 0.5s margin;
    float: left;
}

.right-panel-open .right-content {
    margin-right: 0;
}

.right-panel-open .right-content {
    width: 80%;
   
}

.right-panel-header {
    position: relative;
    width: 100%;
    float: left;
}

    .right-panel-header h2 {
        background-color: #00bce3;
        padding: .8em;
        font-family: 'SourceSansPro-R',Helvetica,Arial,sans-serif;
        font-weight: normal;
        letter-spacing: -.03em;
        margin: 0;
        font-size: 16px;
        color: #fff;
    }

.header-link {
    padding: .8em;
    background-color: #f4f4f5;
    border-bottom: 1px solid #d5d6d8;
}

    .header-link a {
        display: block;
        font-weight: bold;
        text-align: center;
        color: #0094b3;
    }

.close {
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 1.6em;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
}

    .close:hover {
        opacity: .8;
    }

.summary-authors {
    padding: 20px;
    border-bottom: 2px solid #eaeaeb;
    float: left;
    width: 100%;
}

    .summary-authors h3 {
        font-family: 'SourceSansPro-R',Helvetica,Arial,sans-serif;
        font-size: 1.29em;
        font-weight: normal;
        letter-spacing: -.03em;
        color: #212121;
        margin: 10px 0 5px;
    }

.peer-list {
    padding: 0;
}

.toggle-left-panel .icon {
    font-size: 13px;
    font-weight: bold;
}

.search-keyword {
    float: left;
    width: 100%;
}

    .search-keyword input[type=text], .selectpicker {
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #212121;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

.filter-panel {
    border-bottom: 1px solid #d5d6d8;
    float: left;
    width: 100%;
    padding: 10px;
    -webkit-transition: .2s background;
    -o-transition: .2s background;
    transition: .2s background;   
}

.chk {
    display: none;
    cursor: pointer;
}

    .chk:checked + label:before {
        content: '\2713';
        color: #212121;
        border: none;
        font-style: normal;
    }

.peer-badge {
    margin-left: 0;
    margin-right: 5px;
    border-radius: 25px;
    color: #fff;
    padding: 4px 5px 2px 6px;
    background-color: #fecb00;
    font-size: .89em;
    font-weight: bold;
}

.chk + label:before {
    content: ' ';
    display: inline-block;
    line-height: normal;
    margin-right: 10px;
    border: 1px solid #d5d6d8;
    width: 1.143em;
    height: 1.143em;
    vertical-align: text-top;
    cursor: pointer;
    margin-right: 10px;
}

.side-panel-header {
    border-bottom: 1px solid #d5d6d8;
    position: relative;
}

    .side-panel-header h3 {
        display: block;
        width: 80%;
        margin: 0;
        padding: 25px 10px 20px 15px;
        color: #6b6d75;
        word-wrap: break-word;
        font-family: 'SourceSansPro-R',Helvetica,Arial,sans-serif;
        font-size: 1.3em;
    }

.filter-panel > label {
    margin-bottom: 10px;
    font-weight: 400;
}
.fw-bold{
    font-weight: bold !important;
}
.filter-record-count {
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
}

    .filter-record-count span {
        display: block;
        height: 100%;
        background-color: #7fddf1;
        left: 0;
        text-align: center;
        padding-top: 30%;
        min-height: 53px;
        min-width: 3px;
    }

.showdata-for {
    color: #6b6d75;
    font-size: 1em;
    line-height: 1.7em;
    font-weight: bold;
    margin: 10px 0 10px 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.filter-controls {
    padding: 10px;
    background: #fff;
    padding-top: 10px;
    display: block;
    float: left;
    width: 100%;
}
.filter-items-list{
    padding:0;
}
.filter-items-list li{
    margin-bottom:10px;
}
.radio{
    display: inline-block;
    margin-right:10px !important;
}
.filter-items-list label{
    cursor: pointer;
    font-weight: normal !important;
    color: #2D3039;
    display: inline;
}
.dnn {
    display: none;
}
.dropdown-menu li a:hover {
    color: #ffffff;
    background-color: #0094b3;
}

.padding-zero-panel {
    padding: 0;
}

    .padding-zero-panel label {
        padding: 10px 10px 0;
    }
.search-analysts{
  padding: 0;
}
.search-analysts h3{
    color: #6b6d75;
    font-size: 1em;
    line-height: 1.7em;
    font-weight: bold;
    margin: 0;  
    background: #f4f4f5;
    border-bottom: 1px solid #d5d6d8;
    float: left;
    padding: 10px;
    width:100%;
}

::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background-color: rgb(182, 183, 186);
}

::-webkit-scrollbar-thumb {
    background: #777;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px #ccc;
}

::-webkit-scrollbar-corner {
    background-color: rgb(182, 183, 186);
}

table th {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .929em;
    color: #757575;
}

tbody > tr > td {
    height: 5.8333em;
    vertical-align: middle !important;
}

table td:nth-child(2) {
    width: 50%;
}

.action-cont {
    padding: 0;
}

    .action-cont .radio-dot {
        background: green;
        border-radius: 50%;
        border: 1px solid green;
        width: 15px;
        height: 15px;
        float: left;
    }

    .action-cont label {
        padding-left: 10px;
        vertical-align: middle;
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #337ab7;
    }

    .action-cont .blue {
        background: #00bce3;
    }

.progress {
    width: 34%;
}

.progress-perc {
    float: left;
}

    .progress-perc label {
        margin-right: 10px;
        float: left;
    }

.progress {
    height: 15px;
}

.well {
    padding: 0;
    margin-bottom: 30px;
}

    .well header {
        width: 100%;
        padding: 0 15px;
        border-bottom: 1px solid #00bce3;
        background: #00bce3;
    }

        .well header h5 {
            font-size: 16px;
            margin: 0;
            padding: 10px;
            font-weight: bold;
            color: #fff;
        }

    .well ul {
        margin-top: 10px;
    }

    .well li {
        width: 100%;
        padding: 10px 0 0;
        font-weight: bold;
        list-style: circle;
    }
.dropdown{
    padding: 0;    
}
.dropdown .btn, .btn.open, .btn.focus{
 width:100%;
 text-align: left;
 background: white !important;
 color:#212121 !important;
}

.caret {
    float: right;
    color: #00bce3;
    margin-top: 7px;
}
.dropdown-menu{
    width:100%;
    margin:0;
    padding:0;
}
.slice {
	cursor: pointer;
}
.slice .main-arc {
	stroke: #fff;
	stroke-width: 1px;
}
.slice .hidden-arc {
	fill: none;
}
.slice text {
	pointer-events: none;
	dominant-baseline: middle;
	text-anchor: middle;
}

.question_div{
	font-family: Sans-serif;
	font-size:15px;
}
title{
	font-size:20px;
}
